* {
    box-sizing: border-box;
}

:root, html, body, #root, main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: "Winky Sans", sans-serif;
    background-color: #2F2B23;
    color: #221E19;
}

h1, h2, h3, h4 {
    font-family: "Amarante", serif;
}

a {
    color: #221E19;
}

a:hover {
    color: #F0ECB9;
}

.box {
    background-color: #3F341A;
    border: 4px ridge #695127;
    color: #F0ECB9;
    padding: 1rem;
    margin: 1rem;
    background-image: linear-gradient(#695127, #3F341A);
}

.document {
    background-color: #C0AE8D;
    color: #221E19;
    background-image: none;
}

hr {
    border-color: #221E19;
}

h2 {
    font-weight: normal;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.col {
    display: flex;
    flex-flow: column nowrap;
}

.link-button {
    margin: 0.5rem;
}

.wide {
    width: 95%;
}

.half-wide {
    width: 50%;
}

.button {
    background-color: #695127;
    color: #221E19;
    border: 4px ridge #3F341A;
    padding: 0.5rem;
    text-align: center;
    width: 30%;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.button:hover, .button:focus {
    background-color: #221E19;
    color: #F0ECB9;
    border-color: #695127;
}

#header {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    background-color: #695127;
    border-bottom: 4px ridge #695127;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(#695127, #3F341A);
}

#footer {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    background-color: #695127;
    border-top: 4px ridge #695127;
    margin-top: 1.5rem;
    background-image: linear-gradient(#695127, #3F341A);
}

#logo {
    height: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
}

#header-title {
    text-decoration: none;
}

#hamburger {
    margin-left: auto;
    margin-right: 2rem;
}

#carousel-outer {
    width: 95%;
    height: 40vh;
    min-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#carousel {
    width: 100%;
    height: 90%;
    min-height: 22rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#carousel-left, #carousel-center, #carousel-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    height: 70%;
    max-width: 100%;
    border: 4px ridge #695127;
}

#carousel-center {
    position: absolute;
    transform: scale(120%);
    justify-content: center;
}

#carousel-right {
    justify-content: flex-end;
}

#carousel-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#carousel-nav-left, #carousel-nav-right {
    padding: 0.5rem;
}

#carousel-nav-right .carousel-arrow {
    transform: rotate(180deg);
}

#image-description {
    min-height: 5rem;
}